@using MVC_CV.Models.Entity
@model TBLYETENEKLERIM
@{
    ViewBag.Title = "YetenekEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenek Ekle</h2>

@using (Html.BeginForm("YetenekEkle", "Yetenek", FormMethod.Post, new { id = "yetenekEkleme" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.YETENEK, "Yetenek", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.YETENEK, new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ORAN, "Oran", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ORAN, new { @class = "form-control" })

        </div>
    </div> 
    <button type="submit" class="btn btn-primary">Yetenek Ekle</button>
}
 