@using MVC_CV.Models.Entity
@model TBLDENEYIMLER
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Deneyim Ekle</h2>

@using (Html.BeginForm("DeneyimEkle", "Deneyim", FormMethod.Post, new { id = "deneyimEkleme" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.BASLIK, "Başlık", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BASLIK, new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ALTBASLIK, "Alt Başlık", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ALTBASLIK, new { @class = "form-control" })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TARIH, "Tarih", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.TARIH, new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ACIKLAMA, "Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.ACIKLAMA, new { @class = "form-control" })

        </div>
    </div>
    <button type="submit" class="btn btn-primary">Deneyim Ekle</button>
}